* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.reset {
  margin: 2em;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 22px;
  /* font-weight: bold; */
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.region1 {
  background-color: rgb(135, 221, 250);
}

.region2 {
  background-color: rgb(138, 255, 138);
}

.region3 {
  background-color: rgb(255, 255, 135);
}

.region4 {
  background-color: rgb(253, 126, 145);
}

.region5 {
  background-color: rgb(253, 145, 102);
}

.region6 {
  background-color: rgb(136, 136, 250);
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
